.top {
  padding-bottom: 0%;
  display: flex;
  margin: 0 auto;
  height: 100%;
  background-color: #e3c268;
  justify-content: center;
}

h1 {
  text-align: center;
  text-decoration: none;
  font-size: 5em;
  margin-top: 0;
  color: #1f1f1f;
}

.bottom {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 0%;
  height: 100%;
  background-color: #1f1f1f;
}

.message {
  color: #e3c268;
  text-decoration: none;
  font-size: 3em;
  text-align: center;
}

.buttons {
  margin-top: 1em;
  height: 20em;
  padding: 3em, 3em;
}

.login {
  padding: 1em;
  border-radius: 50%;
  background-color: #e3c268;
  font-size: 2em;
  margin-right: 2em;
}

.signup {
  padding: 1em;
  border-radius: 50%;
  background-color: #e3c268;
  font-size: 2em;
  margin-left: 2em;
}

.signup .on:hover {
  border: 2px solid #eee;
}
