.profileView .top {
  padding-bottom: 0%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  margin: 0 auto;
  background-color: #e3c268;
  justify-content: center;
}

.profileView .bottom {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 1fr 1fr 1fr 1fr 1fr;
  padding-top: 0%;
  height: 100%;
  width: 100%;
  color: #e3c268;
  background-color: #1f1f1f;
}

.profileView p {
  color: #e3c268;
}

.profileView .p1 {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 2;
  grid-row-end: 2;
  color: #1f1f1f;
  font-size: 2em;
  margin-top: 1.5em;
  text-decoration: none;
}

.profileView img {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 1;
  text-decoration: none;
  margin-top: 4em;
  justify-self: center;
}

.profileView h2 {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 2;
  margin-top: 2em;
  color: #1f1f1f;
  text-decoration: none;
  justify-self: center;
}
.profileView h3 {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 2;
  margin-top: 6em;
  color: #1f1f1f;
  text-decoration: none;
  justify-self: center;
}

.profileView .buttons {
  margin-top: 1em;
  margin-right: 0em;
  padding: 3em, 3em;
  grid-column-start: 2;
  grid-row-start: 3;
  justify-self: center;
  font-weight: bold;
}

.profileView .profileButton {
  background-color: #e3c268;
  color: #1f1f1f;
  font-size: 1.5em;
  grid-column-start: 2;
  grid-row-start: 3;
  margin-top: 0em;
  padding: 10px;
  text-decoration: none;
}

.profileView .apiButton {
  background-color: #e3c268;
  grid-column-start: 1;
  grid-row-start: 3;
  color: #1f1f1f;
  font-size: 1.5em;
  height: 2em;
  margin-top: 1em;
  padding: 10px;
  text-decoration: none;
  justify-self: left;
}

.profileView .pokemonInputBox {
  height: 2em;
  margin-top: 9em;
  grid-column: 1;
  grid-row-start: 2;
}
